<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>TITULO</title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/styles.css" rel="stylesheet">
</head>
<body>
	<nav th:replace="/fragment/navbar.html :: navbar"></nav>
	<nav sec:authorize="isAuthenticated()"
		th:replace="/fragment/menuLateral.html :: menulateral"></nav>

	<div class="container">

		<div class="starter-template">
			<h1>CLUB DEPORTIVO MASSAMAGRELL</h1>
			<form class="form-horizontal" method="post" action="#"
				th:action="@{/user/editar/submit}" th:object="${user}">
				<fieldset>

					<!-- PARA QUE NO SE MUESTRE EN PANTALLA
					 <input th:field="*{id}" style="display: none">  -->

					<!-- Form Name -->
					<legend>PERFIL</legend>
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="id">ID</label>
						<div class="col-md-4">
							<input id="id" name="id" type="text"
								class="form-control input-md" th:field="*{id}" readonly>
						</div>
					</div>
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="username">Nombre</label>
						<div class="col-md-4">
							<input id="username" name="username" type="text"
								class="form-control input-md" th:field="*{username}"><small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
						</div>
					</div>

					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="password">Contraseña</label>
						<div class="col-md-4">
							<input id="password" name="password" type="text"
								placeholder="Valor por defecto" class="form-control input-md"
								th:field="*{password}"><small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
						</div>
					</div>

					<!-- Select-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="rol">ROL</label>
						<div class="col-md-4">
							<select class="form-control" th:field="*{rol}">
								<option th:each="roles:${listaroles}" th:value="${roles}"
									th:text="${roles}" />
							</select>
						</div>
					</div>

					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="registrarse"></label>
						<div class="col-md-4">
							<button id="guardar" name="guardar" class="btn btn-primary">Guardar</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>

	</div>

	<!-- /.container -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>