<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">

<title>TITULO</title>

<!-- Bootstrap core CSS -->
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/styles.css" rel="stylesheet">
</head>
<body>
	<nav th:replace="/fragment/navbar.html :: navbar"></nav>
	<nav sec:authorize="isAuthenticated()"
		th:replace="/fragment/menuLateral.html :: menulateral"></nav>

	<div class="container">

		<div class="starter-template">
			<h1>CLUB DEPORTIVO MASSAMAGRELL</h1>
			<form class="form-horizontal" method="post" action="#"
				th:action="@{/equipo/editar/submit}" th:object="${equipo}">
				<fieldset>

					<!-- Form Name -->
					<legend>EQUIPO</legend>
					<!-- Text input-->
					<div style="display: none" class="form-group">
						<label class="col-md-4 control-label" for="nombre">ID</label>
						<div class="col-md-4">
							<input id="id" name="id" type="text"
								class="form-control input-md" th:field="*{id}">
						</div>
					</div>
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="nombre">Nombre:</label>
						<div class="col-md-4">
							<input
								th:style="${usuario.username} != 'admin' ? 'display:none' : 'display:inline'"
								id="nombre" name="nombre" type="text"
								class="form-control input-md" th:field="*{nombre}"> <label
								th:style="${usuario.username} == 'admin' ? 'display:none' : 'display:inline'"
								id="nombre" name="nombre" type="text"
								class="col-md-4 control-label" th:text="*{nombre}"></label>
						</div>
					</div>

					<!-- Select-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="equipo">Categoria:</label>
						<div class="col-md-4">
							<select
								th:style="${usuario.username} != 'admin' ? 'display:none' : 'display:inline'"
								class="form-control" th:field="*{categoria}">
								<option th:each="categoria:${listacategorias}"
									th:value="${categoria.id}" th:text="${categoria.nombre}" />
							</select> <label
								th:style="${usuario.username} == 'admin' ? 'display:none' : 'display:inline'"
								id="categoria" name="categoria" type="text"
								class="col-md-4 control-label" th:text="*{categoria.nombre}"></label>
						</div>
					</div>

					<!-- Button -->
					<div class="form-group"
						th:style="${usuario.username} != 'admin' ? 'display:none' : 'display:inline'">
						<label class="col-md-4 control-label" for="registrarse"></label>
						<div class="col-md-4">
							<button id="guardar" name="guardar" class="btn btn-primary">Guardar</button>
							<a th:style="${usuario.rol} == 'jugador' ? 'disabled' : _"
								id="btnAtras" name="cancelar" class="btn btn-warning"
								th:href="@{/equipo/verequipos}">Cancelar</a>
						</div>
					</div>
				</fieldset>
				<br>
			</form>

			<form class="form-horizontal" method="post" action="#"
				th:action="@{/equipo/miembros}" th:object="${equipo}">

				<div style="display: none" class="form-group">
					<label class="col-md-4 control-label" for="nombre">ID</label>
					<div class="col-md-4">
						<input id="id" name="id" type="text" class="form-control input-md"
							th:field="*{id}">
					</div>
				</div>

				<button id="vermiembros" name="vermiembros" class="btn btn-info">Ver
					Miembros</button>

			</form>

			<hr style="width: 75%;">
			<h1>PARTIDOS</h1>
			<br>

			<div class="form-group" sec:authorize="!hasRole('ROLE_JUGADOR')">
				<label class="col-md-4 control-label" for="registrarse"></label>
				<div class="col-md-4">

					<!-- Para poder pasar el id del equipo -->
					<div class="form-group" style="display: none">
						<input id="equipoID" name="equipoID" type="text"
							class="form-control input-md" th:value="${equipo.id}">
					</div>
					<a id="guardar" name="guardar" class="btn btn-primary"
						th:href="@{/partido/nuevoPartido/{id}(id = ${equipo.id})}">Crear
						Partido</a>
				</div>
			</div>
			<br>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Fecha del partido</th>
						<th scope="col">Rival</th>
						<th sec:authorize="!hasRole('ROLE_JUGADOR')" scope="col">Accion</th>
				</thead>
				<tbody>
					<tr th:each="partido : ${equipo.getPartidosLista()}">
						<td th:text="${partido.formatoFecha()}"></td>
						<td th:text="${partido.rival}"></td>
						<td>
							<div class="bnt-group" sec:authorize="!hasRole('ROLE_JUGADOR')">
								<a class="btn btn-primary glyphicon glyphicon-edit" id="editBtn"
									th:href="@{/partido/editarPartido/{id}(id= ${partido.id})}"></a>
								<a class="btn btn-danger glyphicon glyphicon-remove"
									id="deleteBtn"
									th:href="@{/partido/eliminar/{id}(id = ${partido.id})}"></a>
							</div>
						</td>
				</tbody>
			</table>
			<br>
			<hr style="width: 75%;">
			<h1>ENTRENAMIENTOS</h1>
			<br>

			<div class="form-group" sec:authorize="!hasRole('ROLE_JUGADOR')">
				<label class="col-md-4 control-label" for="registrarse"></label>
				<div class="col-md-4">

					<a id="guardar" name="guardar" class="btn btn-primary"
						th:href="@{/entrenamiento/nuevoEntrenamiento/{id}(id = ${equipo.id})}">Crear
						Entrenamiento</a>
				</div>
			</div>

			<br>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Fecha del entrenamiento</th>
						<th sec:authorize="!hasRole('ROLE_JUGADOR')" scope="col">Accion</th>
				</thead>
				<tbody>
					<tr th:each="entrene : ${equipo.getEntrenamientosLista()}">
						<td th:text="${entrene.formatoFecha()}"></td>
						<td>
							<div class="bnt-group" sec:authorize="!hasRole('ROLE_JUGADOR')">
								<a class="btn btn-primary glyphicon glyphicon-edit" id="editBtn"
									th:href="@{/entrenamiento/editarEntrenamiento/{id}(id= ${entrene.id})}"></a>
								<a class="btn btn-danger glyphicon glyphicon-remove"
									id="deleteBtn"
									th:href="@{/entrenamiento/eliminar/{id}(id = ${entrene.id})}"></a>
							</div>
						</td>
				</tbody>
			</table>

		</div>

	</div>

	<!-- /.container -->
	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
